
<%- include("partials/header"); -%>

<div class="container-content">

<% if(noMatch !== null) { %>
  
  <form action="/" method="GET" class="form-inline" style="border-inline-color: rgb(0, 102, 0)">

    <input onkeyup="sendData(this)" autofocus placeholder="Search for Blog Posts"  type="text" id="search-box" name="search" style=" border-inline-color: rgb(0, 102, 0);
font-family: IBM Plex Sans, sans-serif; font-weight: 400; font-size:
    16px; height: 35px; width: 100%; background-color: #F7F7F7;">
    </form>
    <center>
      <h3><%= noMatch %></h3>
    </center>
    <% } else { %>
     
      <form action="/" method="GET" class="form-inline" style="border-inline-color: rgb(0, 102, 0)">
    
         <input autofocus placeholder="Search for Blog Posts"  type="text" id="search-box" name="search" style="border-inline-color: rgb(0, 102, 0); font-family: IBM Plex Sans, sans-serif; font-weight: 400; font-size:
         16px; height: 35px; width: 100%; background-color: #F7F7F7;">
         </form>
      <% } %>
<br>
<br>

  <%  posts.forEach(function(post){ %>

    <h1 style="font-family: IBM Plex Sans, sans-serif; font-weight: 700; font-size:
    36px"><%=post.title%></h1>
    <% var options = { year: 'numeric', month: 'long', day: 'numeric' }; %>
    <p style="font-family: IBM Plex Sans, sans-serif; font-weight:400; font-size: 16px;"><%=post.date.toLocaleDateString('en-us', options)%></p>
    <p style="font-family: IBM Plex Sans, sans-serif; font-weight:400; font-size: 18px;">
    <%=post.description %>
    <br>
    <a style="font-family: IBM Plex Sans, sans-serif; font-weight:700; font-size: 18px;" href="/posts/<%=post._id%>">Read More</a>
    </p>


    <% }) %>

  </div>
<%- include("partials/footer"); -%>
