
<%- include("partials/header"); -%>


    <h1><%=title%></h1>
    <h5><%=date.toLocaleDateString()%></h5>
    <h4><%=description%></h4>
    <p><%-content%></p>



<%- include("partials/footer"); -%>
